<h1>Welcome to your bookshelf <%= @user.username %>!</h1>
Please select books you are interested in! 
<label><h4>Books!</h4></label>
    <% Book.all.each do |book| %>
            <label> <%= book.title %></label>
            <input type="checkbox" id="book_<%= book.id%>" name ="book.title" value= "<%= book.title %>">
            <br>
    <% end %>

<a class="button" href="/users/<%= @user.id %>/edit">Edit User</a>
<a class="button" href="/">Home</a>
<a class="button" href="/books/new">Add a Book!</a>
<a class="button" href="/reviews/new">Write a Review!</a>
