
    <h3>Title:</h3><%=@books.title%>
    <br>
    <h4>Author:</h4> <%= @books.author %>
    <br>
    <h4>Content:</h4> <%= @books.content %>
   <br>

 
<div class="container">
<a class="button" href="/books/<%= @books.id %>/edit">Edit Book</a>
<a class="button" href="/reviews/new">Write a Review!</a>
<a class="button" href="/books/<%=@books.id %>/delete">Delete Book</a>
<a class="button" href="/books">Bookshelf</a>
<a class="button" href="/">Home</a>
<div>